@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: $container-with;
  margin: 0 auto;
}