@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.add-task-form {
  display: flex;
  gap: 30px;
}

.task-input {
  height: fit-content;
  width: fit-content;
}

.subtask-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60vh;
  gap: 10px;
  &__subtask-item {
    display: flex;
    gap: 5px;
  }
}