@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.task-item {
  &__header{
    display: flex;
  }
}

.icon {
  display: flex;
  width: 20px;
  height: 24px;
}

//Для светлой темы
.icon.icon-collapse-light {
  background-image: $dark-mode-collapse-icon;
}
.icon.icon-expand-light {
  background-image: $dark-mode-expand-icon;
}

//Для темной темы
.icon.icon-collapse-dark {
  background-image: $light-mode-collapse-icon;
}
.icon.icon-expand-dark {
  background-image: $light-mode-expand-icon;
}


