//Основные цвета

$primary-color: #42b983;
$secondary-color: #35495e;
$warning-color: #b94242;
$disabled-color: #888888;

//Значения кнопок
$button-padding: 10px;
$button-border-radius: 8px;
$button-font-size: 20px;

//Максимальная ширина контейнера
$container-with: 1200px;

// Значения для светлой темы

//Иконки
$dark-mode-icon: url('/src/assets/dark-mode.svg');
$dark-mode-delete-all-icon: url('/src/assets/delete-light-mode.svg');
$dark-mode-collapse-icon: url('/src/assets/light-mode-collapse-icon.svg');
$dark-mode-expand-icon: url('/src/assets/light-mode-expand-icon.svg');



$light-theme: (
        background-color-primary: #ebebeb,
        background-color-secondary: #fafafa,
        accent-color: #cacaca,
        text-primary-color: #222
);

// Значения для темной темы

//Иконки
$light-mode-icon: url('/src/assets/light-mode.svg');
$light-mode-delete-all-icon: url('/src/assets/delete-dark-mode.svg');
$light-mode-collapse-icon: url('/src/assets/dark-mode-collapse-icon.svg');
$light-mode-expand-icon: url('/src/assets/dark-mode-expand-icon.svg');

$dark-theme: (
        background-color-primary: #1e1e1e,
        background-color-secondary: #2d2d30,
        accent-color: #3f3f3f,
        text-primary-color: #fafafa
);
//Все темы
$themes: (
        'light': $light-theme,
        'dark': $dark-theme,
);

//Шрифты (едиснтвенный Roboto, но вдруг его будет мало)

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

$font-family: 'Roboto', sans-serif;


//Состояние завершения задачи для текста

.completed {
  text-decoration: line-through;
  color: $disabled-color;
  transition: all 0.3s ease;
}